{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Resume</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  	
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/bootstrap-responsive.css"  %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/DT_bootstrap.css" %}" rel="stylesheet">
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
		<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
		<script src="{% static "js/jquery.dataTables.columnFilter.js" %}"></script>
    <script src="{% static "js/DT_bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container">
								<a href="#" class="brand">
									<h3>Resume</h3>
								</a>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					{% block content %}
					{% endblock content %}
				</div>
			</div>
		</div>
	</body>
</html>
